/* $Id:
*
* Created by duvien.com 
*/
body {
  font-family: "Arial","Lucida Grande",Helvetica, Verdana, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  color: #444444;
  background: #fdeaf7 url("images/bg.png") repeat-x top left;
}

tr.odd td, tr.even td {
  padding: 0.3em;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1px;
}

h1 {
  font-size: 1.4em;
}

.node h2 {
  margin-bottom: 0;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
  margin: 0;
}

a, a.active {
	text-decoration: none;
	font-weight: bold;
	color: #b21f88;
}

a:link, a.active:link {
	color: #b21f88;
}

a:visited, a.active:visited {
	color: #b21f88;
}

a:hover, a.active:hover {
	color: #d23fa8;
	text-decoration: underline;
}

a:focus, a.active:focus {
	outline: none;
}

fieldset {
  border: 1px solid #ccc;
}

pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}

.form-item label {
  color: #666666;
  font-size: 1em;
}

.item-list {
  font-size: .84em;
  line-height: 1.3em;
  font-weight: normal;
}

.links {
  margin-bottom: 0;
  font-size: 0.9em;
  color: #666666;
}

.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/

#top_line {
  width: 100%;
  height: 4px;
  margin-bottom: -18px;
  background: transparent url(images/bg-title.png) repeat-x scroll left top;
}

#wrapper_outer {
  width: 100%;
  padding-bottom: 20px;
}

#wrapper {
  width: 900px;
  margin: auto;	
}

#main {
  float: left;
  width: 448px;
}

.search-box {
  text-align: right;
}

.form-submit {
  background: #E7E7E7;
  border: 1px solid #9c9c9c;
}

#sidebar-left .form-submit {
  background: #DDD;	
}

#main .inner {
  padding: 0 10px 0 15px;
}

#sidebar-left, 
#sidebar-right {
  width: 220px;
  padding: 0;
  vertical-align: top;
}

#sidebar-left {
  float: left;	
}

#sidebar-right {
  float: right;
}

#header {
  display: block;
  background: url(images/bg-header.png) repeat-x scroll left top;
}

#logo img {
  float: left;
}

.site-name {
 	font-size: 1.7em;
	padding: 8px 0 0 10px;
}

.site-name a:link, 
.site-name a:visited {
  color: #E7E7E7;
  font-weight: lighter;
}

.site-name a:hover {
  color: #BBBBBB;
  text-decoration: none;
}

.site-slogan {
  font-size: 1.5em;
  color: #eee;
  display: block;
  font-style: italic;
  font-weight: bold;
}

.search-box {
  float: right;
  margin: 35px 0 0 0;
}

#menu {
  line-height: 1.5em;
  vertical-align: middle;
}

#primary {
  display: block;
  height: 29px;
  font-size: 1.2em;
  float: right;
  margin-right: 10px;
}

#header-region {
  clear: both;
}

#primary a {
  padding: 0 5px;
  margin-left: 20px;
  display: block;
  float: left;
  text-align: center;
  color: #fff;
  font-weight: lighter;
}

#primary a:hover {
  color: #fff;
  text-decoration: none;
  background: transparent url(images/bg-title.png);
}

#primary .active {
  background: transparent url(images/bg-title.png);
}

#subnavlist .links {
  padding: 0 1.2em;
  font-size: 0.8em;
}

#subnavlist a {
  color: #eee;
  font-weight: normal;
}
	
/* Sidebar Left */	
#sidebar-left {
  float: left;
  width: 220px;
  padding: 0; 
  margin: 15px 0 0 0;		
  display: inline;	
}	

#sidebar-left ul {
  text-align: left;
  margin: 7px 5px 8px 0px; padding: 0;
  text-decoration: none;	
}
#sidebar-left ul li {
  padding: 10px 10px;
  margin-left: 25px;		
}
* html body #sidebar-left ul li {
  height: 1%;
}
#sidebar-left ul li a {
  text-decoration: none;	
  background-image: none;	
  background-color: transparent;
  border: none;
  font-weight: bold;	
  padding:2px 0;		
}
#sidebar-left ul li a span {
  font-style: italic;
  font-weight: normal;	
  font-size: .8em;
}
#sidebar-left ul li a:hover {	
  color: #555;	
}
#sidebar-left ul ul { 
  margin: 0 0 0 0px; 
  padding: 0; 
}
#sidebar-left ul ul li { 
  background: none; 
}

/* ### Sidebar Right ### */	
#sidebar-right {
  float: right;
  width: 220px;
  padding: 0; margin: 15px 0 0 0;		
  display: inline;	
}	

#sidebar-right ul {
  text-align: left;
  margin: 7px 5px 8px 0px; 
  padding: 0;
  text-decoration: none;	
}
#sidebar-right ul li {
  padding: 10px 10px;
  margin-left: 25px;		
}
* html body #sidebar-right ul li {
  height: 1%;
}
#sidebar-right ul li a {
  text-decoration: none;	
  background-image: none;	
  background-color: transparent;
  border: none; 
  font-weight: bold;	
  padding:2px 0;		
}
#sidebar-right ul li a span {
  font-style: italic;
  font-weight: normal;	
  font-size: .8em;
}
#sidebar-right ul li a:hover {	
	color: #555;	
}
#sidebar-right ul ul { 
  margin: 0 0 0 0px; padding: 0; 
}
#sidebar-right ul ul li { 
  background: none; 
}

ul.links li {
  border-left: 1px solid #9cf;
}

#primary ul.links li {
  border-left: 0;
  display: normal;
  padding: 0;
}

ul.links li.first {
  border: none;
}

#search .form-text, 
#search .form-submit {
  border: 1px solid #9C9C9C;
  font-size: 1.0em;
  vertical-align: middle;
}

#search .form-submit {
  height: 20px;
}

.form-text {
  width: 95%;
}

#edit-search-block-form-1 {
  width: 145px;
}

#search .form-text {
  width: 100%;
  padding: 0 0.5em;
  height: 18px;
}

#mission { 
  padding: 0.5em;
  margin: 0 1em 1.5em 1em;
  color: #444;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background: #fdeaf7 url("images/bg.png") repeat-x top left;
}

#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}

#mission, .node .content, .comment .content {
  line-height: 1.5em;
}

#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.breadcrumb a {
  font-weight: normal;
  font-size: 0.8em;
}

.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}

.error {
  border-color: red;
}

#bottom_outer {
  border-top: 2px solid #fff;
  width: 100%;
  background: transparent url(images/bg-title.png) repeat scroll left top;
}

#bottom-inner {
  width: 900px;
  margin: 0 auto;
}

.bottom-block .block {
  float: left;
  width: 280px;
  padding: 0 10px;
}

#footer {
  padding: 1em;
  font-size: 0.8em;
  text-align: center;
}

.title, .title a {
 	font-weight: bold;
	line-height: 1.1em;
}

.submitted {
 	color: #666666;
 	font-size: 0.7em;
	padding-left: 5px;
}

.block {
	margin-bottom: 1.5em;
	font-size: 0.9em;
}

.node {
	margin: .5em 0 3.5em 0;
	padding-bottom: 20px;
}

.node .content, .comment .content {
 margin: .5em 0 .5em 0;
}

.node .taxonomy {
 	color: #999;
 	font-size: 0.8em;
	display: block;
}

.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}

.comment {
  border: 1px solid #ccc;
  padding: .5em;
  margin-bottom: .5em;
  background: #fdeaf7 url("images/bg.png") repeat-x top left;
}

.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}

.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}

.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}

#aggregator .news-item .categories, 
#aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}

#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}

#aggregator h3 {
  margin-top: 1em;
}

#forum table {
  width: 100%;
}

#forum td {
  padding: 0.5em;
}

#forum td.forum, #forum td.posts {
  background-color: #eee;
}

#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}

#forum td.container {
  background-color: #ccc;
}

#forum td.container a {
  color: #555;
}

#forum td.statistics, 
#forum td.settings, 
#forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}

#forum td .name {
  color: #96c;
}

#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}

#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}

#profile .profile .name {
  padding-bottom: 0.5em;
}

.block-forum h3 {
  margin-bottom: .5em;
}

div.admin-panel .description {
  color: #999;
}

div.admin-panel .body {
  background: #f4f4f4;
}

div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}

#block-user-1 h2, .block h2, .block h3 {
  display: block;
  font-size: 1.1em;
  padding-left: 10px;
  border-bottom: #999 2px solid;
  text-transform: uppercase;
}

#block-user-1 ul li {
	background: url(images/line.png) repeat-x left bottom;
}

#block-user-1 a {
  display: block;
  font-size: 1.0em;
}

#block-user-1 a:hover {
  text-decoration: none;
  background: #DBDBDB;
}

#block-user-1 ul li {
  margin-left:25px;
  padding: 0;
}

#block-user-1 ul {
  padding: 0;	
}

.node img {
  border: 1px solid #CECECE;
  padding: 3px;
}

.poll .bar {
  background: #E7E7E7;
  border: #9C9C9C 1px solid;
}

.poll .bar .foreground {
  background: #CECDCE;
  border-right: #9C9C9C 1px solid;
}

.block-image img {
  border: 1px solid #CECECE;
  padding: 3px;
}

.item-list h3 {
  padding-top:20px;
  padding-bottom:3px;
}
#sidebar-right .item-list ul li,
#sidebar-right .item-list ul li {
  margin-left:0px;
}
.block-user .content {
  padding:0 10px;
}
.block-user .item-list ul li {
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
}

.block-user .item-list ul {
  padding: 0;
}

.block ul {
  padding: 0;
}

div.admin .left, div.admin .right {
  margin: 0;
  width: 49%;
}

div.admin-panel {
  font-size: 0.9em;
  padding: 0;
}

.clear {
  clear: both;
}

/* 
* For open ID
*/
#user-login-form li.openid-link, 
#user-login li.openid-link, 
#user-login-form li.openid-processed {
  padding-left: 20px;
  margin-left: 33px;
}

#edit-openid-identifier {
  padding-left: 0;
}